  <h3>Football Pants Size Chart</h3>
  <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #6fbbf5;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Men's</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Size</th>
        <td style="padding: 8px; white-space: nowrap;">S</td>
        <td style="padding: 8px; white-space: nowrap;">M</td>
        <td style="padding: 8px; white-space: nowrap;">L</td>
        <td style="padding: 8px; white-space: nowrap;">XL</td>
        <td style="padding: 8px; white-space: nowrap;">XXL</td>
        <td style="padding: 8px; white-space: nowrap;">3XL</td>
        <td style="padding: 8px; white-space: nowrap;">4XL</td>
        <td style="padding: 8px; white-space: nowrap;">5XL</td>
        <td style="padding: 8px; white-space: nowrap;">6XL</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Full Waist Relaxed (in)</th>
        <td style="padding: 8px; white-space: nowrap;">26.5</td>
        <td style="padding: 8px; white-space: nowrap;">28</td>
        <td style="padding: 8px; white-space: nowrap;">30</td>
        <td style="padding: 8px; white-space: nowrap;">31</td>
        <td style="padding: 8px; white-space: nowrap;">35</td>
        <td style="padding: 8px; white-space: nowrap;">39.5</td>
        <td style="padding: 8px; white-space: nowrap;">44.5</td>
        <td style="padding: 8px; white-space: nowrap;">50</td>
        <td style="padding: 8px; white-space: nowrap;">55</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Length (in)</th>
        <td style="padding: 8px; white-space: nowrap;">25.5</td>
        <td style="padding: 8px; white-space: nowrap;">26</td>
        <td style="padding: 8px; white-space: nowrap;">27</td>
        <td style="padding: 8px; white-space: nowrap;">27.8</td>
        <td style="padding: 8px; white-space: nowrap;">28.3</td>
        <td style="padding: 8px; white-space: nowrap;">29.3</td>
        <td style="padding: 8px; white-space: nowrap;">31</td>
        <td style="padding: 8px; white-space: nowrap;">31</td>
        <td style="padding: 8px; white-space: nowrap;">32</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Front Rise (in)</th>
        <td style="padding: 8px; white-space: nowrap;">13</td>
        <td style="padding: 8px; white-space: nowrap;">13.3</td>
        <td style="padding: 8px; white-space: nowrap;">14</td>
        <td style="padding: 8px; white-space: nowrap;">14.5</td>
        <td style="padding: 8px; white-space: nowrap;">15</td>
        <td style="padding: 8px; white-space: nowrap;">15.5</td>
        <td style="padding: 8px; white-space: nowrap;">16</td>
        <td style="padding: 8px; white-space: nowrap;">16</td>
        <td style="padding: 8px; white-space: nowrap;">16.5</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Back Rise (in)</th>
        <td style="padding: 8px; white-space: nowrap;">14.3</td>
        <td style="padding: 8px; white-space: nowrap;">14.5</td>
        <td style="padding: 8px; white-space: nowrap;">15</td>
        <td style="padding: 8px; white-space: nowrap;">15.5</td>
        <td style="padding: 8px; white-space: nowrap;">16</td>
        <td style="padding: 8px; white-space: nowrap;">16.5</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
        <td style="padding: 8px; white-space: nowrap;">17.5</td>
      </tr>
    </tbody>
  </table>
  <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #6fbbf5;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Youth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Size</th>
        <td style="padding: 8px; white-space: nowrap;">XS</td>
        <td style="padding: 8px; white-space: nowrap;">S</td>
        <td style="padding: 8px; white-space: nowrap;">M</td>
        <td style="padding: 8px; white-space: nowrap;">L</td>
        <td style="padding: 8px; white-space: nowrap;">XL</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Full Waist Relaxed (in)</th>
        <td style="padding: 8px; white-space: nowrap;">19</td>
        <td style="padding: 8px; white-space: nowrap;">21</td>
        <td style="padding: 8px; white-space: nowrap;">23</td>
        <td style="padding: 8px; white-space: nowrap;">25</td>
        <td style="padding: 8px; white-space: nowrap;">26.5</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Length (in)</th>
        <td style="padding: 8px; white-space: nowrap;">20</td>
        <td style="padding: 8px; white-space: nowrap;">21</td>
        <td style="padding: 8px; white-space: nowrap;">22</td>
        <td style="padding: 8px; white-space: nowrap;">23</td>
        <td style="padding: 8px; white-space: nowrap;">24</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Front Rise (in)</th>
        <td style="padding: 8px; white-space: nowrap;">9</td>
        <td style="padding: 8px; white-space: nowrap;">10</td>
        <td style="padding: 8px; white-space: nowrap;">10.5</td>
        <td style="padding: 8px; white-space: nowrap;">11</td>
        <td style="padding: 8px; white-space: nowrap;">11.5</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Back Rise (in)</th>
        <td style="padding: 8px; white-space: nowrap;">9</td>
        <td style="padding: 8px; white-space: nowrap;">10.5</td>
        <td style="padding: 8px; white-space: nowrap;">11</td>
        <td style="padding: 8px; white-space: nowrap;">11.5</td>
        <td style="padding: 8px; white-space: nowrap;">12.5</td>
      </tr>
    </tbody>
  </table>
<p>Length is measured from starting at the top of the waistband. All measurements are garment measurements in INCHES. These are NOT body measurements.</p>
