  <h3>Compression Short Size Chart</h3>
  <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #f56ec7;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Women's</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Size</th>
        <td style="padding: 8px; white-space: nowrap;">XS</td>
        <td style="padding: 8px; white-space: nowrap;">S</td>
        <td style="padding: 8px; white-space: nowrap;">M</td>
        <td style="padding: 8px; white-space: nowrap;">L</td>
        <td style="padding: 8px; white-space: nowrap;">XL</td>
        <td style="padding: 8px; white-space: nowrap;">XXL</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Half Waist Relaxed (in)</th>
        <td style="padding: 8px; white-space: nowrap;">13</td>
        <td style="padding: 8px; white-space: nowrap;">13.25</td>
        <td style="padding: 8px; white-space: nowrap;">13.5</td>
        <td style="padding: 8px; white-space: nowrap;">14.25</td>
        <td style="padding: 8px; white-space: nowrap;">15</td>
        <td style="padding: 8px; white-space: nowrap;">16</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Inseam (in)</th>
        <td style="padding: 8px; white-space: nowrap;">4</td>
        <td style="padding: 8px; white-space: nowrap;">4</td>
        <td style="padding: 8px; white-space: nowrap;">4</td>
        <td style="padding: 8px; white-space: nowrap;">4</td>
        <td style="padding: 8px; white-space: nowrap;">4</td>
        <td style="padding: 8px; white-space: nowrap;">4</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Hip-4" Down (in)</th>
        <td style="padding: 8px; white-space: nowrap;">14.75</td>
        <td style="padding: 8px; white-space: nowrap;">15.25</td>
        <td style="padding: 8px; white-space: nowrap;">16.5</td>
        <td style="padding: 8px; white-space: nowrap;">17.75</td>
        <td style="padding: 8px; white-space: nowrap;">19</td>
        <td style="padding: 8px; white-space: nowrap;">20.25</td>
      </tr>
    </tbody>
  </table>
  <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #6fbbf5;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Men's</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Size</th>
        <td style="padding: 8px; white-space: nowrap;">S</td>
        <td style="padding: 8px; white-space: nowrap;">M</td>
        <td style="padding: 8px; white-space: nowrap;">L</td>
        <td style="padding: 8px; white-space: nowrap;">XL</td>
        <td style="padding: 8px; white-space: nowrap;">XXL</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Half Waist Relaxed (in)</th>
        <td style="padding: 8px; white-space: nowrap;">11.75</td>
        <td style="padding: 8px; white-space: nowrap;">12.25</td>
        <td style="padding: 8px; white-space: nowrap;">13.5</td>
        <td style="padding: 8px; white-space: nowrap;">15.5</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Inseam (in)</th>
        <td style="padding: 8px; white-space: nowrap;">9</td>
        <td style="padding: 8px; white-space: nowrap;">9</td>
        <td style="padding: 8px; white-space: nowrap;">9</td>
        <td style="padding: 8px; white-space: nowrap;">9</td>
        <td style="padding: 8px; white-space: nowrap;">9</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Length (in)</th>
        <td style="padding: 8px; white-space: nowrap;">17</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
      </tr>
    </tbody>
  </table>
  <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #f56ec7;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Women's Youth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Size</th>
        <td style="padding: 8px; white-space: nowrap;">XS</td>
        <td style="padding: 8px; white-space: nowrap;">S</td>
        <td style="padding: 8px; white-space: nowrap;">M</td>
        <td style="padding: 8px; white-space: nowrap;">L</td>
        <td style="padding: 8px; white-space: nowrap;">XL</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Half Waist Relaxed (in)</th>
        <td style="padding: 8px; white-space: nowrap;">9.25</td>
        <td style="padding: 8px; white-space: nowrap;">10.25</td>
        <td style="padding: 8px; white-space: nowrap;">11.25</td>
        <td style="padding: 8px; white-space: nowrap;">12.25</td>
        <td style="padding: 8px; white-space: nowrap;">12.5</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Inseam (in)</th>
        <td style="padding: 8px; white-space: nowrap;">3.5</td>
        <td style="padding: 8px; white-space: nowrap;">3.5</td>
        <td style="padding: 8px; white-space: nowrap;">3.5</td>
        <td style="padding: 8px; white-space: nowrap;">3.5</td>
        <td style="padding: 8px; white-space: nowrap;">3.5</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Hip-4" Down (in)</th>
        <td style="padding: 8px; white-space: nowrap;">11</td>
        <td style="padding: 8px; white-space: nowrap;">11.75</td>
        <td style="padding: 8px; white-space: nowrap;">13</td>
        <td style="padding: 8px; white-space: nowrap;">14.5</td>
        <td style="padding: 8px; white-space: nowrap;">14.75</td>
      </tr>
    </tbody>
  </table>
  <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #6fbbf5;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24"> Men's Youth</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Size</th>
        <td style="padding: 8px; white-space: nowrap;">S</td>
        <td style="padding: 8px; white-space: nowrap;">M</td>
        <td style="padding: 8px; white-space: nowrap;">L</td>
        <td style="padding: 8px; white-space: nowrap;">XL</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Half Waist Relaxed (in)</th>
        <td style="padding: 8px; white-space: nowrap;">9</td>
        <td style="padding: 8px; white-space: nowrap;">9.75</td>
        <td style="padding: 8px; white-space: nowrap;">10.5</td>
        <td style="padding: 8px; white-space: nowrap;">11.25</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Inseam (in)</th>
        <td style="padding: 8px; white-space: nowrap;">7</td>
        <td style="padding: 8px; white-space: nowrap;">8.5</td>
        <td style="padding: 8px; white-space: nowrap;">8.5</td>
        <td style="padding: 8px; white-space: nowrap;">8.5</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Length (in)</th>
        <td style="padding: 8px; white-space: nowrap;">14</td>
        <td style="padding: 8px; white-space: nowrap;">15</td>
        <td style="padding: 8px; white-space: nowrap;">16</td>
        <td style="padding: 8px; white-space: nowrap;">17</td>
      </tr>
    </tbody>
  </table>
<p>Length is measured from starting at the top of the waistband. All measurements are garment measurements in INCHES. These are NOT body measurements.</p>
