  <h3>Fitted Singlet Size Chart</h3>
       <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #6fbbf5;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Men's</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Size</th>
        <td style="padding: 8px; white-space: nowrap;">S</td>
        <td style="padding: 8px; white-space: nowrap;">M</td>
        <td style="padding: 8px; white-space: nowrap;">L</td>
        <td style="padding: 8px; white-space: nowrap;">XL</td>
        <td style="padding: 8px; white-space: nowrap;">XXL</td>
        <td style="padding: 8px; white-space: nowrap;">3XL</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Half Chest (in)</th>
        <td style="padding: 8px; white-space: nowrap;">15.75</td>
        <td style="padding: 8px; white-space: nowrap;">16.25</td>
        <td style="padding: 8px; white-space: nowrap;">18.25</td>
        <td style="padding: 8px; white-space: nowrap;">18.75</td>
        <td style="padding: 8px; white-space: nowrap;">19.25</td>
        <td style="padding: 8px; white-space: nowrap;">21</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Length (in)</th>
        <td style="padding: 8px; white-space: nowrap;">25</td>
        <td style="padding: 8px; white-space: nowrap;">26</td>
        <td style="padding: 8px; white-space: nowrap;">27</td>
        <td style="padding: 8px; white-space: nowrap;">28</td>
        <td style="padding: 8px; white-space: nowrap;">29</td>
        <td style="padding: 8px; white-space: nowrap;">31</td>
      </tr>
    </tbody>
  </table>
<p>All measurements are garment measurements in INCHES. These are NOT body measurements.</p>
