  <h3>Discus Weight Chart</h3>
  <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #f56ec7;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Women's</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Age</th>
        <td style="padding: 8px; white-space: nowrap;">Middle School</td>
        <td style="padding: 8px; white-space: nowrap;">High School</td>
        <td style="padding: 8px; white-space: nowrap;">College</td>
        <td style="padding: 8px; white-space: nowrap;">35-49</td>
        <td style="padding: 8px; white-space: nowrap;">50-59</td>
        <td style="padding: 8px; white-space: nowrap;">60-74</td>
        <td style="padding: 8px; white-space: nowrap;">75+</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Weight</th>
        <td style="padding: 8px; white-space: nowrap;">Check with local area rules.</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
        <td style="padding: 8px; white-space: nowrap;">0.75 kg</td>
      </tr>
    </tbody>
  </table>
       <table style="border-collapse: collapse; width: 100%; border: 1px solid #000;">
    <thead>
      <tr style="background-color: #6fbbf5;">
        <th style="padding: 8px; font-size: 18px; white-space: nowrap; text-align: center;" colspan="24">Men's</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Age</th>
        <td style="padding: 8px; white-space: nowrap;">Middle School</td>
        <td style="padding: 8px; white-space: nowrap;">High School</td>
        <td style="padding: 8px; white-space: nowrap;">College</td>
        <td style="padding: 8px; white-space: nowrap;">35-49</td>
        <td style="padding: 8px; white-space: nowrap;">50-59</td>
        <td style="padding: 8px; white-space: nowrap;">60-74</td>
        <td style="padding: 8px; white-space: nowrap;">70-79</td>
      </tr>
      <tr>
        <th style="padding: 8px; white-space: nowrap; background-color: #eee;">Weight</th>
        <td style="padding: 8px; white-space: nowrap;">Check with local area rules.</td>
        <td style="padding: 8px; white-space: nowrap;">1.6 kg</td>
        <td style="padding: 8px; white-space: nowrap;">2 kg</td>
        <td style="padding: 8px; white-space: nowrap;">2 kg</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
        <td style="padding: 8px; white-space: nowrap;">1 kg</td>
      </tr>
    </tbody>
  </table>
<p>This guide is just a reference tool. Please confirm any and all weight requirements before purchasing any discus.</p>
