@font-face {
    font-family: 'eurostile';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/EUROB__.TTF?v=123943731711780561581754658670) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'benguiat-bk';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/BENGUIAB.TTF?v=164889998944952956271754658668) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cityd-bold';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/CITYB.TTF?v=116848397754897084751754658669) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'demonized';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Demonized.ttf?v=33610863873482069911754658674) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'evogria';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Evogria.ttf?v=165364026202148246281754658675) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'evogria-italic';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Evogria%20Italic.ttf?v=118362997591906555401754658675) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'magnolia-script';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Magnolia%20Script.ttf?v=149398589732774967661754658676) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'srabi-script';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Srabi%20Script.ttf?v=47805792867761099121754658679) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'superstar-m54';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Superstar%20M54.ttf?v=115669669280103108221754658680) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'swzconbi';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/SWZCONBI.TTF?v=3764299098519294731754658680) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'swzconbn';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/SWZCONBN.TTF?v=41024774898022176261754658681) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Deadknight';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Deadknight.ttf?v=45607384877583427211754658669) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Famous-College';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Famous%20College.ttf?v=105287262553848616091754658671) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Keylock-Fighter';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Keylock%20Fighter.ttf?v=140212000559446896241754658675) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rock-Road';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/RockRoad.ttf?v=70784878956920376251754658678) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Steel-City';
    src: url(//firstfinish.myshopify.com/cdn/shop/t/3/assets/Steel%20City.ttf?v=48393556837671066281754658680) format('truetype');
    font-weight: normal;
    font-style: normal;
}
